.landingPage-container{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 100vh auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

  header{
    grid-area: hd;
  }

  main{
    grid-area: mn;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer{
    grid-area: ft;
  }
}

.landingPage-title{
  padding: 45px 30px 45px 30px;
  background-color: rgba(var(--accent-rgb),0.9);
  border: solid 5px white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: white;

  h2{
    color: white;
  }

  *{
    margin: 0.25em;
  }

  .title-text{
    display: flex;
    align-items: center;
    gap: 1em;

    h1{
      color: white;
      font-size: 50px;
      margin: 0px;
      display: inline-block;
    }

    .cursive{
      font-size: 30px;
      line-height: 60px;
    }
  }
}
.landingPage-date-container{
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3{
    color: white;
  }
}


.landingPage-RSVP-button{
  text-align: center;
  width: calc(100% - 4px);
  background-color: transparent;
  border: solid 2px white;
  border-radius: 5px;
  padding: 5px;

  a{
    color: white;
    text-decoration: none;
  }

  &:hover{
    background-color: white;
  }

  &:hover a{
    color:  var(--accent);
  }
}

@media screen and (max-width: 550px) and (min-width: 460px){
  .landingPage-title{
    padding: 30px 15px 30px 15px;
    .title-text{
      h1{
        font-size: 40px;
      }
      .cursive{
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 460px) and (min-width: 360px){
  .landingPage-title{
    padding: 30px 15px 30px 15px;
    .title-text{
      h1{
        font-size: 30px;
      }
      .cursive{
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 360px){
  .landingPage-title{
    h2{
     font-size:1.25em;
    }

    .title-text{
      flex-direction: column;
      gap: 0px;

      h1{
        font-size: 40px;
      }
      .cursive{
        font-size: 30px;
      }
    }
  }
}