.landingPage-container{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 100vh auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

  header{
    grid-area: hd;
  }

  main{
    grid-area: mn;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer{
    grid-area: ft;
  }
}

.landingPage-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  color: var(--isabelline);

  h1{
    font-size: 40px;
  }

  *{
    margin: 0.25em;
  }
}
.landingPage-date-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.landingPage-RSVP-button{
  text-align: center;
  width: calc(100% -4px);
  background-color: transparent;
  border: solid 2px var(--isabelline);
  border-radius: 5px;

  a{
    color: var(--isabelline);
    text-decoration: none;
  }

  &:hover{
    background-color: var(--isabelline);
  }

  &:hover a{
    color:  var(--burntSienna);
  }
}

