.rsvpPage-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 65px 1fr auto;
  grid-template-areas:
  "hd"
  "mn"
  "ft";

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: hd;

    h1{
      margin: 0px;
    }
  }

  main{
    grid-area: mn;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer{
    grid-area: ft;
  }
}

.rsvp-form{
  width: 90%;
  max-width: 450px;
  margin-bottom: 15px ;
  color: inherit
}

.rsvp-row{
  margin: 0.5em 0px 0.5em 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rsvp-element{
  width: 100%;
  margin: 0px 0.5em 0px 0.5em;
  display: flex;
  flex-direction: column;

  label{
    margin: 0.25em 0px 0.25em 0px;
  }
}

.rsvp-textArea{
  resize: none;
}

.rsvp-submit{
  height: 50px;
}

.rsvp-accommodation-disclaimer{
  font-style: italic;
  text-align: center;
  font-size: small;
  width: 100%;
  max-width: 400px;
  align-self: center;
  justify-self: center;
}

input,textarea{
  padding: 10px 8px 10px 8px;
}

.rsvp-alternative{
  width: 80vw;
  text-align: center;

  p{
    font-size: small;
  }
}

@media screen and (max-width: 430px){
  .rsvp-row{
    flex-direction: column;
  }

  .rsvp-alternative{
    font-size: 0.9em;
  }
}