.social-icons{
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon{
    height: 30px;
    width: 30px;
    margin: 0px 10px 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media  screen and (max-width: 700px){
  .social-icons{
    height: 30px;
    max-width: 150px;

    .icon{
      height: 25px;
      width: 25px;
    }
  }
}